<div class="main-container">
  <div *ngIf="false" class="alert alert-app-level">
    ...
  </div>
  <header class="header header-1">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Star Wars</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">username</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <clr-vertical-nav-group
        routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Normal
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             [routerLink]="['/landing']"
             routerLinkActive="active">
            Home
          </a>
          <a clrVerticalNavLink
             [routerLink]="['/login']"
             routerLinkActive="active">
            Login
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>
</div>

















